{% extends 'base_generic.html' %}

{% block content %}

{% load ordering_tag %}

<h3> Enter values to compare funds </h3>
<p> Pot size (£), drawdown (%) - use whole numbers </p>

<form action = "" method = 'GET'> 
	{{form.as_table}}
	<button type="submit" >OK</button> 
</form>
<br>
<p> Growth set to 4% per annum for all funds </p>
<br>
<h3> Fund comparisons </h3>
<br>

<table border = '1' width = '60%' style='text-align:center;'>

	    <tr>
	    	<th> Fund </th>
	    	<th> Final Pot </th>
	    	<th> Non Fund Costs </th>
	    	<th> Fund Costs </th>
	    	<th> All Costs </th>
	    	<th> Drawn Out </th>
	    	<th> Growth Accrued </th>


	{% for fund in funds %}
        <tr>
            <td><a href="{{ fund.get_absolute_url }}">{{ fund.brand }}</a></td>
            <td>{{ fund.daddy_method }}</td>
            <td>{{ fund.costs_accrued }}</td>
            <td>{{ fund.fund_costs }}</td>
            <td>{{ fund.total_costs }}</td>
              <td>{{ fund.drawn_out }}</td>
            <td>{{ fund.growth_accrued }}</td>


        </tr>
    {% endfor %}
</table>
  

{% endblock %}